<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>正统三国</title>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<style>
</style>
<body>
如不能下载，请复制链接至其他浏览器
<script>
  var u = navigator.userAgent;
  var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
  var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
  if(isAndroid){
    window.location.href='http://r2cdn-cnp.r2games.com.cn/apk/ztsg/ztsg.apk';
  }else if(isiOS){
    alert('敬请期待')
  }
</script>
</body>

</html>
